*,html {
  max-width:100%;
  font-family: Verdana,"Arial Black", Gadget, sans-serif;	

}
.article-header {
  margin: 20px;
}
a:link {
color:grey;}
.upper {
text-transform:capitalize;
  max-width:100%;
}
.bold {
text-transform:capitalize;
  max-width:100%;
font-weight:bold;
}
.btn,btn-block {
    white-space: normal !important;
    word-wrap: break-word;
}

.para {
  font-size: smaller;
}
.who-quoted {
  font-weight:bold;
}
#mainContainer {
  /*background-color: #5cb85c;*/
}

Blockquote {
  color: silver
}
@media screen and (min-width: 750px) {

.right-b {
  border-right-style: solid;
 }

}
.line {
  margin-top: 40px;
}

@media screen and (max-width: 500px) {
 .container{
    max-width: 100%;
  }
}
#cover {
max-width:100%;
max-height"100%;
 border-radius:100%
}
img {
  border-radius: 50%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
