.article-header {
  margin: 20px;
}
.who-quoted {
  font-weight:grey;
}
#mainContainer {
  /*background-color: #5cb85c;*/
}

Blockquote {
  color: gold;
}
@media screen and (min-width: 750px) {

.right-b {
  border-right-style: solid;
 }

}
.line {
  margin-top: 40px;
}

@media screen and (max-width: 500px) {
 .container{
    width: 100%;
  }
}
img {
  border-radius: 50%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
